---
layout: page
title: Projects
---

<p>Personal projects.</p>

<ul class="projects clearfix">
{% for project in site.categories.project %}
  {% unless project.client %}
  <li class="project clearfix">
    <div class="img">
      <a href="{{ project.url }}"><img src="{{ project.thumb }}"></a>
    </div>
    <div class="info">
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <div class="description">{{ project.description }}</div>
      <div class="skills">{{ project.skill | join: ", " }}</div>
      {% if project.link %}
        <a href="{{ project.link }}" target="_blank">Visit {{ project.link | replace:'http://','' }}<sup class="icon icon-external-link"></sup></a>
      {% endif %}
    </div>
  </li>
  {% endunless %}
{% endfor %}
</ul>


<h2>Client Work</h2>

<p>Work for clients (agency work/freelance).</p>

<ul class="projects clearfix">
{% for project in site.categories.project %}
  {% if project.client %}
  <li class="project clearfix">
    <div class="img">
      <a href="{{ project.url }}"><img src="{{ project.thumb }}"></a>
    </div>
    <div class="info">
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <div class="skills">{{ project.skill | join: ", " }}</div>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>
