---
layout: default
title: Home
---

<h1>Welcome.</h1>

<div class="posts">
{% for post in site.categories.blog limit:5 %}
  {% if post.featured %}
  <div class="post">
    <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <!-- <p><em>Posted on {{ post.date | date_to_string }}</em></p> -->

    <p>{{ post.excerpt }}</p>

    <!-- {{ post.content | split: '<!-- more -->' | first }} -->

    <a href="{{ post.url }}" class="btn">View Post</a>
  </div>
  {% endif %}
{% endfor %}
</div>

