/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   SCSS Variables! Should set most fonts & colors here.
   ========================================================================== */

$body_font_family: "minion-pro", Georgia, serif;

$heading_font_family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
$heading_font_weight: 500;

$code_font_family: "source-code-pro", monospace, serif;

$logo_font_family: "franklin-gothic-urw", Helvetica, sans-serif;
$logo_font_weight: 700;

$nav_font_family: "franklin-gothic-urw", sans-serif;
$nav_font_weight: 400;

// http://designmodo.github.io/Flat-UI/
// Flat UI - light
$color_red_light:     #E74C3C;
$color_orange_light:  #E67E22;
$color_yellow_light:  #F1C40F;
$color_green_light:   #2ECC71;
$color_blue_light:    #3498DB;
$color_purple_light:  #9B59B6;

// Flat UI - dark
$color_red_dark:     #C0392B;
$color_orange_dark:  #D35400;
$color_yellow_dark:  #F39C12;
$color_green_dark:   #27AE60;
$color_blue_dark:    #2980B9;
$color_purple_dark:  #8E44AD;

// "Clouds" & "Silver"
$color_grey_light: #ECF0F1;
$color_grey_dark: #BDC3C7;

// "Wet Asphalt" & "Midnight Blue"
$color_dblue_light: #34495E;
$color_dblue_dark: #34495E;

// "Concrete" & "Asbestos"
$color_dgrey_light: #95A5A6;
$color_dgrey_dark: #7F8C8D;


/* ==========================================================================
   Base Styles
   ========================================================================== */

html, button, input, select, textarea {
  color: #222;
}

body {
  font-family: $body_font_family;
  font-size: 1.2em;
  line-height: 1.7;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font_family;
  line-height: 1.2;
  font-style: normal;
  font-weight: $heading_font_weight;
}

a {
  color: $color_blue_dark;
  text-decoration: none;
  &:visited {
    color: $color_blue_dark;
  }
  &:hover {
    color: $color_blue_light;
    text-decoration: underline;
  }
}

td, th {
  padding: 5px 15px;
}

/* <hr> style from http://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
  // padding: 2% 4%;
  .header {
    background-color: $color_grey_light;
    padding: 1%;
    #logo {
      text-align: center;
      font: $logo_font_weight 2em/1.5 $logo_font_family;
      text-transform: uppercase;
      margin: 2% 0;
      letter-spacing: 0.09em;
      a {
        color: #444;
        text-decoration: none;
      }
    }
    #tagline {
      text-align: center;
    }
    a {
      color: #666;
    }
    ul.follow {
      font: $nav_font_weight 1.0em/1.3 $nav_font_family;
      list-style: none;
      padding: 0;
      text-align: center;
      > li {
        display: inline-block;
        padding: 0 5px;
        width: 85px;
        a {
          display: block;
          text-decoration: none; 
          i { margin-right: 3px; }
          span {
            display: none;
            font-size: 0.8em;
            line-height: 3;
            visibility: hidden;
          }
          &:hover span { visibility: visible; }
        }
        &.twitter a:hover { color: $color_blue_light; }
        &.rss a:hover { color: $color_orange_light; }
        &.email a:hover { color: $color_red_light; }
      }
    }
    ul.nav {
      font: $nav_font_weight 1.2em/1.7 $nav_font_family;
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 20px 0;
      > li {
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
  .promos {

  }
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1% 4%;
  }
  .footer {
    padding: 1% 4%;
    background-color: $color_grey_light;
  }
  // Posts List
  ul.posts {
    .post {

    }
  }
  // Posts w/content
  div.posts {
    .post {
      padding: 15px 0 30px;
      border-bottom: 1px solid #ccc;
      h2.title {
        a {
          color: black;
        }
      }
    }
  }
  // Projects Page
  ul.projects {
    list-style: none;
    // overflow: hidden;
    padding: 0;
    li.project {
      margin: 5% 0;
      .img {
        float: left;
        img {
          box-shadow: 0px 0px 8px 0px rgb(207, 207, 207);
        }
      }
      .info {
        margin-left: 250px;
        h2 {
          margin: 0;
          font-size: 1.2em;
          line-height: 1.4;
        }
        .skills {
          font-size: 0.8em;
        }
        a sup.icon {
          text-decoration: none;
        }
      }
    }
  }
  #subscribe-cta {
    background-color: $color_grey_light;
    border: 1px solid $color_grey_dark;
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px 0;
  }
}

#archive {
  ul.posts {
    padding: 0;
    list-style: none;
    li {
      overflow: hidden;
      .date {
        float: left;
        width: 80px;
      }
      .title {
        margin-left: 80px;
      }
    }
  }
}

#rainbow {
  overflow: hidden;
  .segment {
    width: 16.666666667%;
    height: 3px;
    float: left;
    &.red { background-color: $color_red_light; }
    &.orange { background-color: $color_orange_light; }
    &.yellow { background-color: $color_yellow_light; }
    &.green  { background-color: $color_green_light; }
    &.blue   { background-color: $color_blue_light; }
    &.purple { background-color: $color_purple_light; }
  }
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid $color_grey_light;
}

/* Override font set in normalize.css */
code, kbd, pre, samp {
  font-family: $code_font_family;
}

code {
  margin: 0 2px;
  padding: 2px 5px;
  border: 1px solid $color_grey_dark;
  background-color: $color_grey_light;
  border-radius: 3px;
}

pre {
  code {
    display: inline-block;
  }
}

// Code highlights
.highlight {
  background-color: $color_grey_light;
  padding: 2%;
  border-radius: 4px;
  overflow: auto;
  font-size: 0.9em;
  pre {
    margin: 0;
    code {
      // Undo some <code> styles
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      border-radius: none;
    }
  }
}

.footnotes {
  ol li p {
    display: inline-block;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  br {
    display: none;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}