---
layout: default
body_class: post
---

<div id="post">
  <h1>{{ page.title }}</h1>
  
  {{ content }}
</div>


<div id="subscribe-cta">
  Thanks for reading! What did you think? 
  <a href="#disqus_thread">Leave a comment</a> below, or 
  <a href="/contact/">contact me</a>.
  <br>
  You can also follow me on 
  <a href="http://twitter.com/mattruten" title="@mattruten on Twitter" target="_blank">Twitter</a>,
  or subscribe to site updates via 
  <a href="{{ site.url }}/atom.xml">RSS</a> or 
  <a href="#">email</a>.
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% include disqus.html %}
